nav {
    width: 80%;
    margin: auto;
}

nav>img {
    width: 14%;
    padding-top: 12px;
}

.form>div{
    display: flex;
    font-size: 14px;
    width: 80%;
    margin: auto;
}

.form>div>h2{
    border-bottom: 5px solid #FDD835;
    margin-right: 35px;
}

.form>div>a{
    text-decoration: none;
    color: rgb(175, 173, 173);
}

.form>div>a:hover{
    color: black;
}



.form{
    width: 28.5%;
    position: relative;
    top: 88px;
    left: 62%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

form>input{
    font-size: 17px;
    padding: 10px 10px 10px 10px;
    margin: 15px 50px;
    width: 68%;
}
form>div{
    margin-left: 47px;
}
form>div>span:last-child{
    margin-left: 42px;
    margin-top: -15px;
    font-size: 14px;
}
form>div>span:first-child{
    font-size: 14px;
    margin-top: -15px;
}
form>div>span{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-top: -15px;
}

#submit{
    text-align: center;
    width: 75%;
    background-color: #FDD835;
    color: white;
    border:1px solid #FDD835;
}

.form>p{
    text-align: center;
    margin-top: 20px;
}
.form>img{
    width: 16%;
    display: block;
    margin: auto;
    padding-bottom: 21px;
}

#login{
    display: none;
    position: fixed;
    top: 10%;
    left: 45%;
    width: 15%;
    border: 1px solid black;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: wheat;
}



#Admin{
    display: none;
    position: fixed;
    top: 10%;
    left: 45%;
    width: 15%;
    border: 1px solid black;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: wheat;
}



